@namespace Omny.Cms.UiEditor.Components
@inherits CollectionFieldEditorBase
@using Omny.Cms.Editor
@using MudBlazor

<div class="collection-field">
    @if (_items is not null)
    {
        @for (int i = 0; i < _items.Count; i++)
        {
            var item = _items[i];
            <div class="collection-item">
                <div class="collection-editor">
                    @RenderItemEditor(i)
                </div>

                @{
                    var index = i;
                }
                <MudButton ButtonType="ButtonType.Button" OnClick="(() => Remove(index))" Variant="Variant.Filled">Remove</MudButton>
            </div>
        }
        <div class="add-buttons">
            @foreach (var t in _allowed)
            {
                var plugin = PluginRegistry.GetFieldPlugin(t);
                <MudButton ButtonType="ButtonType.Button" Class="add-field" OnClick="(() => Add(t))" Variant="Variant.Filled">
                    <span class="icon">@plugin.Icon</span> Add @plugin.DisplayName
                </MudButton>
            }
        </div>
    }
</div>


