@namespace Omny.Cms.UiLayout
@inherits MainLayoutBase
@using Omny.Cms.UiRepositories.Components
@using MudBlazor
<div class="page">
    <!--<div class="sidebar">
        <NavMenu/>
    </div>-->

    @if(Loaded) {
    <main>
        <div class="top-row px-4">
            <div class="top-row-content">
                <RepositorySelector />
                <MudButton OnClick="Logout" Variant="Variant.Filled">Logout</MudButton>
            </div>
        </div>

        <article class="content px-4">
            @* Required *@
            <MudThemeProvider @ref="_mudThemeProvider" @bind-IsDarkMode="_isDarkMode" />
            <MudPopoverProvider />

            @* Needed for dialogs *@
            <MudDialogProvider />

            @* Needed for snackbars *@
            <MudSnackbarProvider />
            @Body
        </article>
    </main>
    }
</div>

